# -------- Firebase (public) --------
NEXT_PUBLIC_FIREBASE_API_KEY=REPLACE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=REPLACE
NEXT_PUBLIC_FIREBASE_PROJECT_ID=REPLACE
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=REPLACE
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=REPLACE
NEXT_PUBLIC_FIREBASE_APP_ID=REPLACE

# -------- App --------
NEXT_PUBLIC_COMPANY_NAME=SKYLED
