# -------- Firebase (public) --------
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCSkTEpRSIBBxkGa0Fp8HVlZMnqHHvPQyQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skyled-e8934.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skyled-e8934
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skyled-e8934.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=821447103066
NEXT_PUBLIC_FIREBASE_APP_ID=1:821447103066:web:9036c9b5502305c0a5fe63
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4CX6LCFFR5

# -------- App --------
NEXT_PUBLIC_COMPANY_NAME=SKYLED
